<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="d-flex flex-row align-items-center">
              <h1 class="mb-0" id="web-title">Employee Bank Details</h1>
              <h1 class="mb-0 d-none" id="mob-title">Bank Details</h1>
              <i class="fas fa-pencil-alt ml-5 text-dark" data-toggle="tooltip" data-placement="bottom" title="edit only active for admin" ></i>
          </div>
          <div class="vl"></div>
      </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-5 col-sm-12 bank-details">
      <div>
        <span>Bank Name :</span>
        <span>PNB</span>
      </div>

      <div>
        <span>Account no :</span>
        <span>37249299333</span>
      </div>

      <div>
        <span>Aadhar No :</span>
        <span>3249299300</span>
      </div>
    </div>
    <div class="col-lg-5 col-sm-12 bank-details">
      <div>
        <span>Branch Name :</span>
        <span>kolkata</span>
      </div>

      <div>
        <span>IFSC CODE :</span>
        <span>37249299333</span>
      </div>

      <div>
        <span>Pan No :</span>
        <span>3249299300</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <span class="text-brown">Attachments :</span>
    </div>
    <div class="col-lg-10 col-sm-12">
      <div class="att-line">
        <div class="item">
            <span class="attachment"></span>
            <span class="text-brown">Pancard</span>
        </div>
        <div class="item">
            <span class="attachment"></span>
            <span class="text-brown">Passbook</span>
        </div>
        <div class="item">
            <span class="attachment"></span>
            <span class="text-brown">Aadhar Crad</span>
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 d-flex flex-row justify-content-center">
        <button class="btn btn-sm btn-brown" id="mob-update">Update</button>
    </div>
  </div>
</div>