<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <div class="d-flex flex-row align-items-center">
              <h1 class="mb-0">Employee Failures</h1>
              <i class="fas fa-pencil-alt ml-5 text-dark" data-toggle="tooltip" data-placement="bottom" title="edit only active for admin" ></i>
          </div>
          <div class="vl"></div>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Description</th>
            <th class="d-none d-sm-table-cell">Given by</th>
            <th class="d-none d-sm-table-cell">Feedback</th>
            <th class="d-none d-sm-table-cell"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>25.01.2022</td>
            <td>
              mr x is awarded for his excellent perfomance
              for completion of ERP task management
              project
            </td>
            <td class="d-none d-sm-table-cell">
              Subrata Sarkar
            </td>
            <td class="d-none d-sm-table-cell">
              He have completed this later
              There was some
              miscommunication
            </td>
            <td>
              <div ngbDropdown placement="bottom-right">
                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                  <a class="dropdown-item" href="javascript:void(0)">Mention Other</a>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>26.01.2022</td>
            <td>
              mr x is awarded for his excellent perfomance
              for completion of ERP task management
              project
            </td>
            <td class="d-none d-sm-table-cell">
              Subrata Sarkar
            </td>
            <td class="d-none d-sm-table-cell">
              He have completed this later
              There was some
              miscommunication
            </td>
            <td>
              <div ngbDropdown placement="bottom-right">
                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                  <a class="dropdown-item" href="javascript:void(0)">Mention Other</a>
                </div>
              </div>
            </td>
          </tr>

          <tr>
            <td>3</td>
            <td>26.01.2022</td>
            <td>
              mr x is awarded for his excellent perfomance
              for completion of ERP task management
              project
              <div class="td-div">
                <div class="item">
                  <span class="notice"></span>
                  <span class="text-brown">Notice</span>
                </div>
                <button class="add"><i class="fas fa-plus"></i></button>
              </div>
            </td>
            <td class="d-none d-sm-table-cell">
              Subrata Sarkar
            </td>
            <td class="d-none d-sm-table-cell">
              He have completed this later
              There was some
              miscommunication
              <div class="td-div">
                <div class="item">
                  <span class="notice"></span>
                  <span class="text-brown">Assignment ss</span>
                </div>
                <button class="add"><i class="fas fa-plus"></i></button>
              </div>
            </td>
            <td>
              <div ngbDropdown placement="bottom-right">
                <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                  <i class="fas fa-ellipsis-v"></i>
                </a>
                <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                  <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                  <a class="dropdown-item" href="javascript:void(0)">Mention Other</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>